[project]
	description = Java program using OpenCV 3.0 to take and manage classifying photos for HAAR Classification.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/eweb0124
[access "refs/for/refs/*"]
	read = group user/eweb0124
	push = group user/eweb0124
	label-Code-Review = -2..+2 group user/eweb0124
	label-Verified = -1..+1 group user/eweb0124
	rebase = group user/eweb0124
	removeReviewer = group user/eweb0124
	submit = group user/eweb0124
[access "refs/heads/*"]
	read = group user/eweb0124
	create = group user/eweb0124
	push = +force group user/eweb0124
	pushMerge = group user/eweb0124
[access "refs/tags/*"]
	push = group user/eweb0124
	push = +force group user/eweb0124
